body{
  background-color: rgb(124, 130, 207);
  font-size: medium;
  font-style: inherit;
  font-family: sans-serif;
  line-height: inherit;
}
h1{
  color: blue;
  text-align: center;
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
}
p{
  font-family: sans-serif;
  text-align: justify;
}
ul{
  line-height: 40px

}
ol{
  line-height: 40px;
}